<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }

  .navbar-brand-name {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
  }

  @media(max-width: 992px) {
    .navbar-collapse {
      background-color: #f8f9fa;
      padding: 10px 15px;
      z-index: 1000;
      position: relative;
      border-radius: 10px;
    }
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- LOGO -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <i class="fa-solid fa-compass"></i>
      <span class="navbar-brand-name">Wanderlust</span>
    </a>

    <!-- TOGGLE BUTTON -->
    <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVBAR CONTENT -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- LEFT SIDE LINKS -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings">All Listings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New Listing</a>
        </li>

      </ul>

      <!-- SEARCH BAR (CENTER) -->
      <form class="d-flex mx-auto my-2 my-md-0" role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search destinations">
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <!-- RIGHT SIDE NAV -->
      <div class="navbar-nav ms-auto align-items-center">

        <% if(!currUser) { %>
          <a class="nav-link" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Log in</a>
        <% } else { %>
          <a class="nav-link" href="/listings/new">Host on Wanderlust</a>
          <a class="nav-link text-danger" href="/logout">Logout</a>
        <% } %>

      </div>

    </div>
  </div>
</nav>